.subscribeWrapper {
  background-color: #e6f4f8;
  padding-top: 5px;
  height: 75px;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subscribeContent1,
.subscribeContent2 {
  width: 30%;
  font-variant-caps: small-caps;
}

.subscribeContent2 {
  text-align: left;
  padding: 8px 10px;
}

.subscribeContent1 {
  padding-top: 10px;
  text-align: right;
  font-size: 25px;
}

.subscribeForm {
  width: 40%;
  height: 100%;
  padding-top: 15px;
}

.subscribeForm input {
  width: 400px;
  height: 35px;
  padding-left: 10px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  color: black;
}
.subscribeForm input:focus {
  border: 1px solid #1890ff;
}

.subscribeForm button {
  border-radius: 0px 10px 10px 0px;
  height: 35px;
  margin: 0px;
}
.contactUs {
  text-align: center;
  height: 450px;
  padding: 10px;
}

.contactForm,
.contactInfo,
.contactInfoMapWrapper {
  height: 100%;
  padding: 20px;
}
.contactUs h3 {
  color: #0e75bd;
}

.ContactFormloader {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 73%;
  z-index: 1;
  margin: auto 9%;
  border-radius: 10px;
  height: 400px;
}
.loader {
  border-right: 8px solid white;
  border-top: 8px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 50% 40%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contactForm form {
  width: 80%;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  height: 400px;
  background-color: #0e75bd;
}
.contactForm form h3{
  color: whitesmoke;
}
.contactFormInput, .contactFormTextArea {
  margin-bottom: 10px;
  border-radius: 5px;
}
.contactFormTextArea {
  resize: none;
}
.contactForm form button{
  width: 100%;
}
.contactInfo p{
  font-size: 17px;
}
.contactInfoSocial{
  margin: 40px 0;
}
.contactInfoSocial h6,
.contactInfoMapWrapper  h6 {
  color: #0e75bd;
}
.contactInfoSocial a{
  margin: 0 10px;
  color: darkgray;
  font-size: 35px;
}
.contactInfoSocial a svg{
  width: 50px;
}
.contactInfoSocial a:hover{
  color: #0e75bd;
}
.contactInfoMap {
  width: 100%;
  height: 90%;
  min-height: 250px;
  padding: 10px;
  border: 0;
}
.copyright {
  background-color: rgba(0, 0, 0, 0.92);
  text-align: center;
  color: lightgray;
  min-height: 30px;
  font-size: 15px;
  padding: 7px 0;
  margin-top: 20px;
}


@media only screen and (max-width: 600px){
  .footerWrapper{
    width: 100%;
  }
  .subscribeWrapper{
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-bottom: 20px;
  }
  .subscribeContent1,
  .subscribeContent2,
  .subscribeForm{
    width: 100%;
    padding: 5px 5%;
    text-align: center;
  }
  .subscribeForm input{
    width: 70%;
  }
  .contactUs{
    height: 100%;
    padding: 0;
  }
  .contactForm,
  .contactInfo,
  .contactInfoMapWrapper{
    width: 90%;
    margin: 10px auto;
    padding: 0;
  }
  .contactInfoMap{
    padding: 0;
  }
  .contactForm form,
  .ContactFormloader{
    margin: 0;
    width: 100%;
  }
  .contactInfoSocial{
    margin: 20px 0;
  }
}
