html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.mainContent{
  margin-top: 50px;
}

a {
  color: lightgray;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 17px;
}
p {
  font-size: 15px;
}
.ant-btn-text {
  cursor: not-allowed;
}
.ant-input-prefix{
  margin-right: 10px;
}

.textBlue{
  color: #0e75bd;
}
.textYellow {
  color: #fec643;
}
.textGreen {
  color: #4d9d2b;
}

/* LOADING */
.loader-wrapper {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 625px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.loader {
  border-right: 10px solid #0e75bd;
  border-top: 10px solid #0e75bd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 600px) {
  .ant-row{
    flex-direction: column;
  }
  [class*="ant-col-"] {
    width: 100%;
    max-width: 100%;
    flex: auto;
  }
}