.headerWrapper {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.92);
  color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  font-variant: small-caps;
}

.headerTitleWrapper {
  width: 20%;
  float: left;
  font-size: 30px;
  height: 50px;
  text-align: center;
  color: white;
}
.headerTitleWrapper a img{
    display: none;
}

.headerNavWrapper {
  width: 60%;
  float: left;
  font-size: 20px;
  padding-top: 10px;
  text-align: right;
}

.headerNavWrapper a {
  margin: 0 30px;
}
.headerNavButton {
  background: transparent;
  color: lightgray;
  border: none;
  margin: 0 30px;
  font-variant: small-caps;
  padding: 0;
}
.headerNavButton:hover {
  color: white;
  cursor: pointer;
}
.headerNavButton:focus {
  outline: none;
}

.headerRightWrapper {
  width: 20%;
  float: left;
  text-align: right;
}
.headerRightWrapper button {
  margin: 8px 10px;
  opacity: 0.9;
}
.headerRightWrapper button:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .headerTitleWrapper {
    width: 10%;
    text-align: right;
  }
  .headerTitleWrapper a span{
      display: none;
  }
  .headerTitleWrapper a img{
      display: inline;
  }
  .headerRightWrapper {
    display: none;
  }
  .headerNavWrapper {
    width: 90%;
    text-align: center;
  }
  .headerNavWrapper a {
    margin: 0 10px;
    font-size: 14px;
  }
}
