.container {
  margin-top: 50px;
  min-height: 500px;
  padding: 0;
}

.coverWrapper {
  height: 0px;
  width: 95%;
  overflow: hidden;
  margin: 50px auto;
  padding: 0;
  box-shadow: 0 0 8px 0 grey;
  transition: 1s;
}
.cwRight,
.cwLeft {
  overflow: hidden;
  padding: 0 50px;
}
.cwLeft {
  text-align: right;
  border-right: 1px solid #9a9cd3;
  left: -150%;
  animation: slide 0.7s forwards;
  animation-delay: 0.8s;
}
@keyframes slide {
  100% {
    left: 0;
  }
}

.cwLeft img {
  height: 250px;
}
.cwRight {
  padding-top: 20px;
  border-left: 1px solid #213774;
}
.cwRight h3 {
  color: #fec643;
}

.cwRight h1 {
  color: #0e75bd;
  margin-left: 210%;
  width: 100%;
  animation: slideLeft 0.7s forwards;
  animation-delay: 1.5s;
}
@keyframes slideLeft {
  100% {
    margin-left: 0;
  }
}
.cwRight h3,
.cwRight p {
  opacity: 0;
  animation: showing 0.7s forwards;
  animation-delay: 2.2s;
}
@keyframes showing {
  100% {
    opacity: 1;
  }
}

.homeContent {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}
.homeContent h1 {
  color: #0e75bd;
}
.homeContent p {
  width: 70%;
  text-align: center;
  margin: auto;
  min-height: 100px;
  padding: 10px;
  opacity: 0.6;
  transition: 0.5s;
  font-size: 20px;
  line-height: 35px;
}

.homeContent:hover p {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .coverWrapper {
    box-shadow: none;
    overflow: visible;
    margin: 0;
  }
  .coverWrapper .cwLeft,
  .coverWrapper .cwRight {
    text-align: center;
    padding: 0;
    border: none;
  }
  .coverWrapper .cwLeft img {
    height: 100px;
    margin-bottom: 20px;
  }
  .coverWrapper .cwRight h1 {
    font-size: 25px;
  }
  .homeContent{
    margin-bottom: 20px;
  }
  .homeContent p {
    padding: 0;
    margin: auto;
    width: 90%;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
  }
}
