.container {
  margin-top: 50px;
  min-height: 500px;
  padding: 1px;
}
.contentTitle {
  text-align: center;
  width: 25%;
  margin: 20px auto;
  border-radius: 50px;
  padding: 10px;
}
.contentTitleYellow {
  color: black;
  background-color: #fec643;
}
.contentTitleGreen {
  color: white;
  background-color: #4d9d2b;
}
.contentTitleBlue {
  color: white;
  background-color: #0e75bd;
}
.rowColWrapper {
  padding: 40px;
}
.rowColWrapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowColRow {
  padding: 30px;
  min-height: 300px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowInverse {
  flex-direction: row-reverse;
}
.rowColCol {
  padding: 30px 50px;
  height: 100%;
}
.rowColCol img {
  height: 280px;
  box-shadow: 0 0 10px 1px dimgray;
  border-radius: 10px;
  padding: 5px;
}
.rowColCol h3 {
  text-shadow: 1px 1px lightgray;
}
.rowColCol p {
  font-size: 16px;
  min-height: 150px;
}
.colLeft {
  text-align: right;
}
.colRight {
  text-align: left;
}

.galleryImageRow{
  width: 90%;
  margin: 50px auto;
  box-shadow: 0 0 5px 0 lightgray;
  border-radius: 10px;
  padding: 5px;
}
.galleryImageColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
.galleryImage{
  margin: 5px 0;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .contentTitle {
    width: 90%;
    font-size: 25px;
    margin: 10px auto;
  }
  .rowColWrapper {
    padding: 0;
  }
  .rowColRow {
    padding: 0;
    width: 90%;
    margin: 10px auto;
  }
  .rowColCol {
    padding: 0;
  }
  .rowColCol img {
    width: 100%;
    height: inherit;
    margin-bottom: 20px;
  }
  .rowColCol p {
    text-align: justify;
  }
}
